<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="driverProvider" class="com.epam.tam.common.MyWebDriverProvider" >
  </bean>

  <bean id="webDriverProvider" class="org.jbehave.web.selenium.PerStoryWebDriverSteps">
    <constructor-arg ref="driverProvider"/>
  </bean>

  <bean id="lifecycleSteps" class="com.epam.tam.step.LifecycleSteps">
    <constructor-arg ref="driverProvider"/>
  </bean>

  <bean id="pageFactory" class="com.epam.tam.page.PageFactory">
     <constructor-arg ref="driverProvider"/>
  </bean>  
  
  <bean id="steps" class="com.epam.tam.step.Steps">
     <constructor-arg ref="pageFactory"/>
  </bean>  

</beans>